@{
    ViewData["Title"] = "О приложении";
}

<h1> @ViewData["Title"] </h1>
<p style="margin-top: 20px">Данное приложение предназначено для выполнения инженерных расчетов процессов теплообмена в противоточном движении кусковых материалов в плотном продуваемом слое.</p>

<h2 style="margin-top: 30px">Ключевые возможности приложения</h2>

<ul style="margin-top: 20px">
    <li><b>Расчеты теплообмена:</b> автоматизированные вычисления параметров теплообмена, включая температуру материала, газа и их разницу.</li>
    <li><b>Визуализация данных:</b> построение графиков для наглядного анализа изменений температурных характеристик.</li>
    <li><b>Генерация отчетов:</b> экспорт результатов расчетов в формате Excel для дальнейшего анализа и отчетности.</li>
    <li><b>Гибкость настроек:</b> возможность задавать исходные параметры для выполнения расчетов под различные сценарии.</li>
</ul>




